# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/
build/

# Miljøvariabler — MÅ ALDRIG committes til Git!
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/generated/prisma
nul
